<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section id="team-members">
        <div class="profile-card">
            <h2>Dang Minh Ngon</h2>
            <p>Computer Vision Engineering</p>
        </div>
        <div class="profile-card">
            <h2>La Minh Tuan Kiet</h2>
        </div>
        <div class="profile-card">
            <h2>Tran Vinh Tien</h2>
        </div>
    </section>
    <footer>
        <p>© 2024 Our Team</p>
    </footer>
</body>
</html>